.Header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: azure;
}
.Wrapper{
    display: grid;
    grid-template-areas:
    "menu content";
    grid-template-columns: 1.5fr 6fr;
}
.Menu{
    grid-area: menu;
    margin-left: 5px;
    margin-top: 7px;
    width: 100%;
    position: sticky;
}
.Content{
    grid-area: content;

}


